<%= form_for([@train, carriage.becomes(Carriage)]) do |f| %>
  <%= render 'common/errors', resource: carriage %>

  <div class="field">
    <%= f.label :upper_seats %>
    <%= f.text_field :upper_seats %>
  </div>

  <div class="field">
    <%= f.label :lower_seats %>
    <%= f.text_field :lower_seats %>
  </div>

  <div class="field">
    <%= f.label :side_upper_seats %>
    <%= f.text_field :side_upper_seats %>
  </div>

  <div class="field">
    <%= f.label :side_lower_seats %>
    <%= f.text_field :side_lower_seats %>
  </div>

  <div class="field">
    <%= f.label :sitting_seats %>
    <%= f.text_field :sitting_seats %>
  </div>

  <div class="field">
    <%= f.label :type, 'Type' %>
    <%= f.select :type, Carriage::TYPES %>
  </div>

  <div class="field">
    <%= f.label :train_id, 'Train' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>