<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carriage.type %>
</p>

<%= render "#{@carriage.type.underscore}", carriage: @carriage %>

<p>
  <strong>Train:</strong>
  <%= @carriage.train.number %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>