<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carriage.kind %>
</p>

<p>
  <strong>Upper seats:</strong>
  <%= @carriage.upper_seats %>
</p>

<p>
  <strong>Lower seats:</strong>
  <%= @carriage.lower_seats %>
</p>

<p>
  <strong>Train:</strong>
  <%= @carriage.train.number %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>