<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations in the route:</strong>
  <% if @route.railway_stations.empty? %>
    At the route no stations
  <% else %>
  <table>
    <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Arrival - Departure</th>
    </thead>
    <tbody>
    <% @route.railway_stations.each do |station|  %>
      <tr>
        <td><%= station.title %></td>
        <td>
          <%= form_tag update_position_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'edit' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_time_railway_station_path(station), method: :patch do %>
            <%= time_field_tag :arrival, station.time(@route, :arrival) %>
            <%= time_field_tag :departure, station.time(@route, :departure) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag 'edit' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</p>

<p>
  <strong>Trains route:</strong>
  <% if @route.trains.empty? %>
    No trains on the route
  <% else %>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
